<script setup lang="ts">
import HeaderComponent from "../widgets/HeaderComponent.vue";
import FooterComponent from "../widgets/FooterComponent.vue";
import RadioPlayer from "../widgets/RadioPlayerComponent";
</script>

<template>
  <!-- Some header start -->
  <header-component />
  <!-- Some header end -->

  <RadioPlayer />

  <!-- Some footer start -->
  <footer-component />
  <!-- Some footer end -->
</template>

<style scoped></style>
