<script setup lang="ts">
import { ref, onUnmounted, onBeforeMount } from "vue";
import { TrackService } from "./services/track.service.ts";
import TrackItem from "./components/TrackItem.vue";
import { ITrack } from "./types/track.ts";

const playingTrack = ref<ITrack | null>(null);
const historyTracks = ref<ITrack[]>([]);
const errorMessage = ref<String | null>(null);

const trackService = new TrackService();

const updateTracks = async () => {
  const { playingTrackResponse, historyTracksResponse, errorMessageResponse } =
    await trackService.getTracks();
  if (errorMessageResponse) {
    errorMessage.value = errorMessageResponse;
  }
  playingTrack.value = playingTrackResponse;
  historyTracks.value = historyTracksResponse;
};

const intervalId = setInterval(updateTracks, 2000);
onBeforeMount(async () => {
  await updateTracks();
});

onUnmounted(() => clearInterval(intervalId));
</script>

<template>
  <main>
    <div class="container">
      <template v-if="!errorMessage">
        <div class="playing-item">
          <track-item
              :trackData="playingTrack"
              :isPlaying="true"
              v-if="playingTrack"
          />
          <div class="info-block">
            <div class="title">Now it plays on the <span class="fancy">Radio!</span></div>
            <div class="description">
              Explore global rhythms and discover the enchanting tunes from corners of the world, all while lounging comfortably in your space.
            </div>
          </div>
        </div>
        <div class="history-title">History</div>
        <div class="history-items">
          <track-item
            v-for="track in historyTracks"
            :key="track.title"
            :trackData="track"
            :isPlaying="false"
          />
        </div>
      </template>
      <div v-else class="error-block">
        {{ errorMessage }}
      </div>
    </div>
  </main>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

main {
  background-color: #10142b ;
  min-height: 400px;

  .container {
    display: flex;
    flex-direction: column;
  }
}

.error-block {
  color: red;
  border: 1px solid red;
  padding: 10px;
  width: auto;
  margin: 20px 0;
}

.playing-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;

  @media (max-width: 1050px) {
    flex-direction: column;

  }

  .info-block{
    color: $primary-color;
    margin-left: 10px;
    max-width: 70%;

    @media (max-width: 720px) {
      max-width: 100%;
      margin: 20px 0;
    }
  }

  .title{
    font-family: fantasy;
    font-size: 6rem;
    color: $primary-color;
    line-height: 7rem;

    @media (max-width: 1000px) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  .description{
    margin-top: 70px;
    font-size: 18px;

    @media (max-width: 1000px) {
      margin-top: 30px;
    }
  }
}

.history-title{
  font-size: 24px;
  color: $primary-color;
  font-weight: bold;
}

.history-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 650px) {
    justify-content: center;
  }
}

.fancy {
  position: relative;
  white-space: nowrap;

  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.725);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0;
  }
}
</style>
